<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html ng-app>
    <head>
        <title><?php echo $this->getTitle(); ?></title>
        <?php echo $this->getMeta(); ?>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/Controllers/ItemsList.js"></script>
    </head>
    <body>
        <div id="header" ng-controller="ItemsList">
            <ul class="list">
                <li ng-repeat="i in items">{{i.name}}</li>
            </ul>

        </div>
        <? $this->Content();?>
    </body>
</html>
